body {
  width: 100%;
  margin: 0;
}

header {
  background-color: black;
  height: 50px;
}
header .container {
  height: 50px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
header .container .left-header {
  background-color: black;
  height: 50px;
  float: left;
  width: 60%;
}
header .container .left-header ul {
  list-style-type: "";
  margin: auto;
  padding-top: 5px;
}
header .container .left-header ul li {
  display: inline-block;
  padding-left: 30px;
  padding-bottom: 9px;
  float: left;
  position: relative;
}
header .container .left-header ul li a {
  color: #FDE909;
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  text-decoration: none;
}
header .container .left-header ul li .submenu {
  position: absolute;
  top: 100%;
  width: 90%;
  z-index: 10;
  transition: 0.5s ease-in-out;
  opacity: 0;
  padding: 0;
  background-color: black;
}
header .container .left-header ul li .submenu li {
  padding: 5px;
}
header .container .left-header ul li a:hover {
  color: #F8BC04;
}
header .container .left-header ul li:hover .submenu {
  opacity: 1;
}
header .container .right-header {
  background-color: black;
  height: 50px;
  float: left;
  width: 40%;
}
header .container .right-header ul {
  list-style-type: "";
  margin: auto;
  padding-top: 5px;
}
header .container .right-header ul li {
  display: inline-block;
  padding-right: 30px;
  float: right;
}
header .container .right-header ul li a {
  color: #FDE909;
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  text-decoration: none;
}
header .container .right-header ul li a:hover {
  color: #F8BC04;
}