body{
	width:100%;
	margin:0;
}
.container{
	max-width:1200px;
	padding:0 15px;
	margin:0 auto;
}
header{
	background-color:black;
	min-height:50px;
	
	.container{
		min-height:50px;
		display: flex;
		flex-wrap:wrap;
		.left-header{
			
			min-height:50px;
			float:left;
			width:70%;
			ul{
				list-style-type:""; 
				margin: auto;
				padding-top: 5px;
				li{
					display: inline-block;
					padding-right: 30px;
					padding-bottom: 9px;
					float: left; 
					position: relative;
					a{
						color: white;
						font-family: 'Shippori Mincho', serif;
						font-size: 25px;
						text-decoration: none;
					}
					.submenu {
						position: absolute;
						top: 100%;
						width: 100%;
						z-index: 10;
						transition: 0.5s ease-in-out;
						opacity: 0;
						padding:0;
						background-color: black;
						li{
							padding: 5px;
						}
					}

				}
				li a:hover{
					color:silver;
				}
				li:hover .submenu {
					opacity: 1;
				}
			}
			
		}
		.right-header{
			
			min-height:50px;
			float:left;
			width:30%;
			ul{
				list-style-type:""; 
				margin: auto;
				padding-top: 5px;
				li{
					display: inline-block;
					padding-right: 30px;
					float: right; 

					a{
						color: white;
						font-family: 'Shippori Mincho', serif;
						font-size: 25px;
						text-decoration: none;
					}
				}
				li a:hover{
					color:silver;
				}
			}
		}
	}
}

main{
	.container{
		min-height: 500px;
		text-align: right;
		display: flex;
		justify-content: center;			
		flex-direction:column;
		h1{
			text-align: center;
			font-size: 50px;
			margin: 15px 0;
		}
		hr{
			size: 3px;
			color:black;
			min-width: 200px;

		}
		.layers{
			padding: 0 15px;
    		display: flex;
    		justify-content:space-around;
    		flex-wrap:wrap;
			.articles{
				min-height: 250px;
				text-align: justify;
				border: 2px solid black;
				margin: 10px;
				padding: 5px 10px;
				font-size: 40px;
			}
			h3{
				text-align: center;
			}
		
		}
		.buttons{
			margin: 0 auto;
			padding: 0 15px;
			width: 95%;
			button{
				
				font-family: "Shippori Mincho", serif;
				font-size: 20px;
				height: 40px;
				width: 100px;
				border: 2px solid black;
				border-radius:10px;
				margin:10px;
				background-color: #fff;
			}
			button:focus{
				box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1) inset;
				outline: none;
			}
			button:hover{
				background-color: silver;
			}
		}
	}
}
footer{
	background-color: black;
	text-align: center;
	.container{
		height:70px;
		display: inline-flex;
		
		.content{
			color: white;
			font-family: 'Shippori Mincho', serif;
			font-size: 25px;
			padding: 15px;			
		}
	}
}
